@charset "utf-8";
@import "./node_modules/bulma/bulma.sass";

$color__indigo: #6574CD;
$color__white: #fff;
$color__black: #353535;

$primary: $color__indigo;

* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    color:$color__black;
}