$color__indigo: #6574CD;
$color__white: #fff;
* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height:100vh;
}

.nav {
    display: flex;
    width: 100vw;
    padding: 1vw;
    background: $color__indigo;
    color:$color__white;
    box-shadow: 0px 10px 38px 8px rgba(53,53,53,1);
    &__form {
        display: flex;
        margin: 0 1vw;
    }

    &__form-label {
        margin-right: 0.5vw;
        font-size: 2vw;
    }

    &__button {
        margin-left: auto;
        margin-right: 2vw;
    }
}

.result {
    flex: 1 0 0px;
    background: url("/static/bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:$color__white;
}